.git
node_modules
.tmp
dist
*.swp
.DS_Store
.idea/
/reports/**
/pa11y/reports/**/
/pa11y/jenkins/latest/**
/test-results/**
typings/
coverage/
npm-debug.log
app/app.js
app/common/components/**/*.js
app/common/directives/**/*.js
app/common/jquery-plugins/spec/*.js
app/common/services/**/*.js
app/pages/**/*.js
!app/pages/aem/**/*.js
app/config/*.js
css
coverage/
.vscode/settings.json
/nbproject/private/
nbproject/
